.slider {
  position: relative;
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='%23B175FFFF' stroke-width='4' stroke-dasharray='9' stroke-dashoffset='37' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 18px;
  width: 50%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
}


