.slider {
  position: relative;
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='%23B175FFFF' stroke-width='4' stroke-dasharray='9' stroke-dashoffset='37' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 18px;
  width: 50%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
}

.handle {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #f2f3f5;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    background: green;
    border: 6px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.144);
  }

  &::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: green;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 2px white inset;
  }

  &::-ms-thumb {
    width: 24px;
    height: 24px;
    background: green;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 2px white inset;
  }
}

.size32 {
  &::-webkit-slider-thumb {
    width: 32px;
    height: 32px;
  }

  &::-moz-range-thumb {
    width: 32px;
    height: 32px;
  }

  &::-ms-thumb {
    width: 32px;
    height: 32px;
  }
}

.SliderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
  flex-direction: column;
}

.Discreet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin-top: 2rem;
  position: relative;
}

.lableHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -3rem;
  font-family: poppins;
  font-weight: 100;
  opacity: 0.8;
}

.labels {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.label {
  position: relative;
  text-align: center;
}

.tooltip {
  position: absolute;
  top: -2.5rem; /* Adjust as needed */
  text-align: center;
  background: black;
  color: white;
  width: 1.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 0.75rem;
  white-space: nowrap;
  margin-left: 1rem;
  z-index: 2;
}
