.rangedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.range-slider {
  height: 8px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
  width: 30rem;
}

.range-selected {
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-color: #47b647;
  top: 0;
  left: 0; /* Default position */
  width: 0; /* Default width */
}

.range-input {
  position: relative;
  width: 100%;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    height: var(--handle-size);
    width: var(--handle-size);
    border-radius: 50%;
    border: 6px solid #ffffff;
    background-color: #47b647;
    pointer-events: auto;
    -webkit-appearance: none;
    cursor: pointer;
    margin-left: -2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.144);
    transition: border-color 0.2s, background-color 0.2s, box-shadow 0.2s;

    &:hover {
      border-color: #d1d1d1; // Gray border on hover
    }

    &:active {
      background-color: #368636; // Darker green when active
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.24); // Stronger shadow when active
    }

    &:focus {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.144), 0 0 0 2px #47b647; // Green border on focus
    }
  }
  &:focus::-webkit-slider-thumb {
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.144), 0 0 0 2px #47b647;
    border-color: #ffffff;
  }
  &::-moz-range-thumb {
    height: var(--handle-size);
    width: var(--handle-size);
    border-radius: 50%;
    border: 6px solid #ffffff;
    background-color: #47b647;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.144);
    transition: border-color 0.2s, background-color 0.2s, box-shadow 0.2s;

    &:hover {
      border-color: #d1d1d1; // Gray border on hover
    }

    &:active {
      background-color: #368636; // Darker green when active
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.24); // Stronger shadow when active
    }
  }

  &::-ms-thumb {
    height: var(--handle-size);
    width: var(--handle-size);
    border-radius: 50%;
    border: 6px solid #ffffff;
    background-color: #47b647;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.144);
    transition: border-color 0.2s, background-color 0.2s, box-shadow 0.2s;

    &:hover {
      border-color: #d1d1d1; // Gray border on hover
    }

    &:active {
      background-color: #368636; // Darker green when active
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.24); // Stronger shadow when active
    }
  }
}

.tooltip {
  position: absolute;
  top: -3.5rem; /* Adjust as needed */
  text-align: center;
  background: black;
  color: white;
  width: 1.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 0.75rem;
  white-space: nowrap;
  margin-left: -1.5rem;
  z-index: 2;
}

.lable {
  width: 100%;
  margin-top: -3rem;
  font-family: poppins;
  font-weight: 100;
  opacity: 0.8;
  text-align: center;
}

.size32 {
  &::-webkit-slider-thumb {
    width: 32px;
    height: 32px;
  }

  &::-moz-range-thumb {
    width: 32px;
    height: 32px;
  }

  &::-ms-thumb {
    width: 32px;
    height: 32px;
  }
}